.ListTodo {
  border: 2px solid red;
  min-width: 446px;
  margin: 0 0 .5rem 0;
  & tr {
    border: 2px solid blue;
    & td {
      border: 2px solid yellow;
      padding: .5rem;
      text-transform: capitalize;
    }
  }
}

.item_text {
  color: rgb(152, 53, 245);
}
.strike {
  text-decoration: line-through;
}
.flex {
  display: flex;
  align-items: center;
}
.btn {
  height: 84px;
  text-align: center;
  margin-top: -.5rem;
}